---
layout: default
title: Blog
---

<div class="posts">

 {% for post in paginator.posts %} 
   
   <div class="post">

    <h1 class="post-title">
      <a href="{{ post.url }}" target="_self">
        {{ post.title }}
      </a>
    </h1>


    <span class="post-date">{{ post.date | date_to_string }}</span> 


{{ post.content  ||split:'<!-- more -->' | first }} 
<h7><a href='{{post.url}}' target="_self" title='阅读全文'>阅读全文</a></h7> 
</div>

  {% endfor %}

</div>

<div class="pagination">
 
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/" target="_self">..</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}" target="_self">..</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">..</span>
  {% endif %}
   {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}" target="_self">...</a>
  {% else %}
    <span class="pagination-item older">...</span>
    
  {% endif %}
</div>

