<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/" target="_self"><i class="fa fa-home fa-fw"></i>&nbsp;&nbsp;&nbsp; Home</a>
    <a class="sidebar-nav-item{% if page.title == "Archive" %} active{% endif %}" href="/archive" target="_self"><i class="fa fa-archive fa-fw"></i>&nbsp;&nbsp;&nbsp; Archive</a>
    <a class="sidebar-nav-item{% if page.title == "About" %} active{% endif %}" href="/about" target="_self"><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;&nbsp; About</a>
    <a class="sidebar-nav-item" href="http://cellier.me/resume" target="_self"><i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;&nbsp;&nbsp; Resume</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>

  </div>
</div>
