---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>


<!--
<hr>
<div class="copyright">
<p><small><small>from:</small><a href='{{page.url}}'><small>cellier's blog</small></small></a></p>
</div>
-->

<!-- 多说评论框 start -->   
<div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-url="cellier.me{{page.url}}"> 
</div> 
<!-- 多说评论框 end --> 
<!-- 多说公共JS代码 start (一个网页只需插入一次) --> 
<script type="text/javascript"> var duoshuoQuery = {short_name:"cellier-me"};         (function() {                 var ds = document.createElement('script');                 ds.type = 'text/javascript';ds.async = true;                 ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';                 ds.charset = 'UTF-8';                 (document.getElementsByTagName('head')[0]                  || document.getElementsByTagName('body')[0]).appendChild(ds);         })();         
</script> 
<!-- 多说公共JS代码 end -->



<div class="related">
  <span><small>其它文章</small></span>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h7>
          <a href="{{ post.url }}" target="_self">
            <small>{{ post.title }}</small>

            <!--{{ post.date | date_to_string }}-->
          </a>
        </h7>
      </li>
    {% endfor %}
  </ul>
</div>
